<ng-container *ngIf="{selectedMember : selectedMember$ | async} as vm">
  <div class="container">

    <div class="container-top">
      <h1 class="header">{{vm.selectedMember?.label ? vm.selectedMember?.label : 'Please select a member'}}</h1>
    </div>

    <div class="container-bottom">
      <zi-list [headerText]="'Members'" [items]="listItems$ | async" [selectedItem]="vm.selectedMember"
        (itemSelected)="memberSelected($event)">
      </zi-list>
      <zi-hierarchy [selectedMember]="vm.selectedMember"></zi-hierarchy>
    </div>
  </div>
</ng-container>