@import "../../../../styles/base";

:host {
    border: 1px solid $main-border-color;
    border-radius: 3px;
  }

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    align-items: center;
}

    a{
        padding: 0 10px;
        color:blue;
        text-decoration: underline;

        &:not(:last-child){
            &:after {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                border: 2px solid;
                border-color: #979492;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                border-left: 0;
                border-bottom: 0;
                margin-top: 5px;
                margin-left: 5px;
              }
          }
    }
  