<div class="container">
    <zi-button class="logout-btn" (click)="back()">
        back
      </zi-button>
    <div class="member" *ngIf="selectedMember;else noAccess">
        <div class="member-details">
            <img width="100" src="assets/images/person-placeholder-portrait.png">
            <div class="name">{{selectedMember.name}}</div>
        </div>
        <p class="member-description">
            {{selectedMember.description}}
        </p>
    </div>
    <ng-template #noAccess>
        <div *ngIf="error" class="error-message">Oops.. you are not authorized to see the member details. 
            Please go back to the main page and try somebody else.
        </div>
    </ng-template>
</div>