@import '../../../styles/base';

.container{
    width: 90%;
    margin: 40px auto;
    display: flex;

    .member {
        margin-left: 10px;
        border: 1px solid $main-border-color;
        border-radius: 3px;
        width: 100%;
        padding: 10px;

        .member-details{
            display: flex;
            img{
            border: 1px solid $main-border-color;
            }
            .name{
                padding-left: 10px;
            }
        }
    }  
    
    .error-message{
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 10px;
        padding-left: 10px;
        border: 1px solid $main-border-color;
        border-radius: 3px;
    }
}